*{
  box-sizing: border-box;
}

body{
  padding-top: 56px;
  background-color: #131720;
  font-family: sans-serif;
  display: grid;
  place-items: center;
}

.topnav{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background-color: #131720;
  padding: 10px;
  z-index: 1;
  border-bottom: 1px solid #364868;
}

.topnav a{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.topnav a:hover{
  
  color: rgba(255, 255, 255, 0.655);
}

.topnav .search-container{
  margin-left: 30px;
}

form{
  background-color: #26344b;
  width: 300px;
  height: 43px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}


input{
  all: unset;
  font: 15px system-ui;
  color: white;
  height: 100%;
  width: 100%;
  padding: 6px 9px;
}

#section{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 30px;
}
.thumbnail{  
  width: 100%;
  border-radius: 19px;
}

.title{
  position: absolute;
  bottom: -100%;
  left: 0;
  right: 0;
  min-height: 50px;
  background-color: #151f30ba;
  border-radius: 0 0 19px 19px;
  padding: 10px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;  
  transition: bottom 0.15s ease;
}

.card:hover .title{
  bottom: 0;
  left: 0;
  right: 0;
}

.card{
  position: relative;
  border-radius: 19px;
  overflow: hidden;
  width: 230px;
  text-align: center;
  background-color: #151f30;
}

